.button {
  border: 1.5px solid slategray !important;
  color: black !important;
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 24px !important;
  line-height: 30px !important;
}

.button:hover,
.button:focus {
    background-color: slategray !important;
    color: white !important
}

.button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: black;
}